// Colors
// Lightmode
$lightmode-bg: #ffffff;
$lightmode-text: #1e3a8a;
$lightmode-secondary-text: #4299e1;
$lightmode-accent: #63b3ed;
$lightmode-border: #e0e0e0;

// Darkmode
$darkmode-bg: #1a202c;
$darkmode-text: #cbd5e0;
$darkmode-secondary-text: #81a1c1;
$darkmode-accent: #63b3ed;
$darkmode-border: #333333;
