// Colors
// Lightmode
$lightmode-bg: hsl(0, 0%, 100%);
$lightmode-text: hsl(224, 64%, 33%);
$lightmode-secondary-text: hsl(207, 73%, 57%);
$lightmode-accent: hsl(205, 79%, 66%);
$lightmode-border: hsl(0, 0%, 88%);

// Darkmode
$darkmode-bg: hsl(220, 26%, 14%);
$darkmode-text: hsl(211, 25%, 84%);
$darkmode-secondary-text: hsl(210, 34%, 63%);
$darkmode-accent: hsl(205, 79%, 66%);
$darkmode-border: hsl(0, 0%, 20%);
